*.vsidx
*.suo
*.cache
*.pdb
*.bin
DungeonDiceMonsters/.vs/DungeonDiceMonsters/v17/.suo
DungeonDiceMonsters/.vs/DungeonDiceMonsters/v17/.suo
DungeonDiceMonsters/.vs/DungeonDiceMonsters/v17/.futdcache.v2
DungeonDiceMonsters/.vs/ProjectEvaluation/dungeondicemonsters.metadata.v7.bin
DungeonDiceMonsters/.vs/ProjectEvaluation/dungeondicemonsters.projects.v7.bin
DungeonDiceMonsters/.vs/DungeonDiceMonsters/DesignTimeBuild/.dtbcache.v2
DungeonDiceMonsters/.vs/DungeonDiceMonsters/v17/.futdcache.v2
DungeonDiceMonsters/.vs/DungeonDiceMonsters/v17/.suo
DungeonDiceMonsters/bin/Debug/DungeonDiceMonsters.pdb
DungeonDiceMonsters/obj/Debug/DungeonDiceMonsters.csproj.GenerateResource.cache
DungeonDiceMonsters/obj/Debug/DungeonDiceMonsters.pdb
DDMPvPServer/bin/Debug/net8.0-windows/DDMPvPServer.exe
DungeonDiceMonsters/.vs/DungeonDiceMonsters/v17/.suo
DungeonDiceMonsters/.vs/DungeonDiceMonsters/DesignTimeBuild/.dtbcache.v2
